/*
  header: 56px;
  footer: 46px
*/
.wrapper {
  height: calc(100% - 102px);
}

.title{	
 font-family: 'Noto Sans KR', sans-serif;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

table[page="emp"] {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem;
}

.custom-btn {
  outline:2px solid #dc3545 !important ;
  box-shadow:none !important;
  border-color:#dc3545 !important;
  background-color:#dc3545 !important;
  margin-right: 15px;
}
