/*
  header: 56px;
  footer: 46px
*/
.wrapper {
  height: calc(100% - 102px);
}

.page-item.active .page-link{
    z-index: 3;
    color: #fff;
    background-color: #198754!important;
    border-color: #198754!important;
}


table[page="post"] {
  font-size: 1.2rem;
  table-layout: fixed;
}

table[page="post"] tr > td:first-child {
  text-align: center;
  width: 10%;
}

table[page="post"] tr > td:nth-child(2) {
  width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table[page="post"] tr > td:nth-child(3) {
  width: 35%;
}

table[page="post"] tr > td:last-child {
  width: 15%;
  font-weight: bold;
}

table[page="post"] tr > th:first-child {
  text-align: center;
  width: 10%;
}

table[page="post"] tr > th:nth-child(2) {
  width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table[page="post"] tr > th:nth-child(3) {
  width: 35%;
}

table[page="post"] tr > th:last-child {
  width: 15%;
  font-weight: bold;
}

div.footer {
  display: flex;
  justify-content: space-between;
}

div.footer > div.empty {
  width: 67px;
}

textarea.form-control {
  height: 400px;
}

p.post-content {
  white-space: pre-line;
}

