@charset "UTF-8";

body {
	background-image: linear-gradient(to bottom, #fffad7, #fff5d7, #fff1d9, #ffeddb, #ffeadd);
}

.storeName {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 180px;
	margin-bottom: 120px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.buttons>.btn {
	font-size: 60px;
	border: 1px solid #DA291C;
	border-radius: 0.375rem;
	background-color: #DA291C;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
	background-color: #FFCC00;
	transition: 0.7s;
	color: black;
	border: 1px solid #FFCC00;
}

#name {
	font-weight: 700;
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}