.header {
  width: 100%;
  min-width: 1336px;
  height: 100px;
  position: fixed;
  background-color: #fef9eb;
  z-index: 100;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
}

.section {
  width: 100%;
  min-width: 1336px;
  padding-top: 100px;
  height: 100vh;
  display: flex;
}

#content {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.title {
  width: 80%;
  height: 56px;
  margin: auto;
  font-family: 'Noto Sans KR', sans-serif;
}

.wrapper {
  width: 80%;
  height: calc(100% - 56px);
  margin: auto;
  overflow: auto;
}

#content > .footer {
  width: 80%;
  margin: auto;
  height: 46px;
  padding: 4px 0px;
}

.header ul.nav {
  height: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #fffad7, #fff5d7, #fff1d9, #ffeddb, #ffeadd);
}

.header .nav-link {
  border: none !important;
  color: black;
  font-weight:700;
  font-size: 35px;
}

.header .nav-link:focus {
  color: black;
}

.header .nav-link:hover {
  color: grey;
}

.header .nav-link.active {
  background-color: #fef9eb !important;
  color: black !important;
}

.inout-table > tbody > tr:first-child > td {
  border-top-width: 1px;
  line-height: 32px;
}

.inout-table > tbody > tr > td > button {
  padding: 3px 6px;
}

.inout-table > tbody > tr > td:nth-child(2) {
  text-align: center;
}

.green {
  color: #198754;
}

.green-btn {
	outline:none !important;
	box-shadow:none !important;
	border-color:#198754 !important;
	background-color:#198754 !important;
}

.green-btn:hover{	
	background-color: #006400 !important;
}

.green-btn:focus{	
	outline:4px solid rgba(28, 151, 92, 0.4)!important ;

}

.red{	
	color:#DA291C;
}

.red-btn{
	outline:none !important;
	box-shadow:none !important;
	border-color: #DA291C !important;
	background-color:#DA291C !important;
}

.red-btn:hover{	
	background-color: #A52A2A !important;
}

.red-btn:focus{	
	outline:4px solid rgba(218, 41, 28, 0.4)!important ;
}


.orange-btn{
	outline:none !important;
	box-shadow:none !important;
	border-color: #F29727 !important;
	background-color : #F29727 !important;
}

.orange-btn:hover{	
	background-color:#D2691E !important; 
}

.orange-btn:focus{	
   outline:4px solid rgba(242, 151, 39, 0.4)!important ;
}

.yellow {
  color: #ffc107;
}

.orange{	
	color:#F29727 !important;
}

.modal-body label {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #ffeadd !important ;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.form-control:focus {	
	outline:4px solid rgba(28, 151, 92, 0.4)!important ;
	box-shadow: rgba(28, 151, 92, 0.4)!important;
}
