.title {
  height: 143px;
}

/*
  header: 143px
  footer: 46px
*/
.wrapper {
  height: calc(100% - 189px);
}

table[page="sale"] {
  font-size: 1.5rem;
}

div.form-container {
  display: flex;
  padding: 4px;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

div.form-container > div {
  width: 25%;
  text-align: center;
}

div.form-container > div:first-child {
  text-align: left;
}

div.form-container > div:last-child {
  text-align: right;
}

div.form-container input {
  line-height: 1.2;
  display: inline-block;
  width: 150px;
  padding: 4px;
}

.order-info {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

table[page="sale"] {
  width: 80%;
  margin: auto;
  font-size: 1rem;
}

div.footer {
  display: flex;
  justify-content: center;
}
