/*
  header: 56px;
  footer: 46px
*/
.wrapper {
  height: calc(100% - 102px);
}

div.footer {
  display: flex;
  justify-content: center;
}

div.footer > div.empty {
  width: 67px;
}

.order-info {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.order-info > span {
  width: 30%;
}

.accordion-body {
  text-align: right;
}

.accordion-body > button {
  margin-top: 5px;
  margin-right: 20%;
}

.table[page="stock"] {
  text-align: left;
  margin: auto;
  width: 60%;
}
